h1{

	color: #FFFFFF;
	font-size:30px;
	background-color:#7C8B9B;
	margin-top:5px;
	margin-right:5px;
}
html{
	background-color:#FFFFFF;
	font-family: Trebuchet MS;
}
.fq{
	
	padding-left: 30px;
	font-size:14px;
}

.pf{
	color:#59452A;
	font-size:14px;
}

body{
	margin-top:5px;
	background-color:#E5EBDF;
    border-style: solid;
    border-width: 1px;
	padding-left: 7px;
	padding-right: 0px;
	padding-top:0px;
	border-color:#808080;
	width:400px;
	height:365px;
	box-shadow: 5px 5px 6px grey;
}
