h1{
	
	color: #FFFFFF;
	font-size:28px;
	background-color:#660000;
}

.test{
	font-size:14px;
}

.emrg{
	font-family: sans-serif;
	color:#CC0000;
	font-weight: 700;
	font-size:14px;
}
.b{
	font-weight: bold;
}
h2{
	color:#660000;
	font-weight:bold;
	font-size:22px;
}

.sml{
	font-size:11px

}

body{
    border-style: solid;
    border-width: 1px;
	padding: 7px;	
}

html{
	font-family: Tahoma;
}
