h1{
	
	color: #FFFFFF;
	font-size:28px;
	margin-top:7px;
	margin-right:10px;
	background-color:#660000;
}

.test1{
	font-size:14px;
	line-height: 119%;
}

.test2{
	font-size:14px;
	line-height: 130%;
}

.emrg{
	color:#FF0000;
	font-weight: 700;
	font-size:14px;
}
.b{
	font-weight: bold;
}
h2{
	color:#660000;
	font-weight:bold;
	font-size:22px;
	margin-top:20px;
	margin-bottom:20px;
}

.sml{
	font-size:11px;
	line-height: 130%;
	margin-left:20px;
}
.sml:nth-child(2){
	font-size:11px;
	line-height: 130%;
	margin-left:80px;
}

body{
	
	margin-top:0px;
    border-style: solid;
    border-width: 1px;
	padding-left: 7px;
	padding-right: 0px;
	padding-top:0px;
	width:490px;
	height:660px;	
}

html{
	font-family: Tahoma;
}
